<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form action="./Display.html" method="post">
    <input type="text" placeholder="number1" name="firstNumber">
    <select name="select" id="">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="text" placeholder="number2" name="secondNumber">
    <button type="submit">Submit</button>
</form>
</body>
</html>